@model E1.DbInfoStatu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DbInfoStatu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DbInfoStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DbInfoStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DbInfoName.DbInfoName1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DbInfoName.DbInfoName1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DbInfoPeriod.DbInfoPeriod1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DbInfoPeriod.DbInfoPeriod1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DbInfoType.DbInfoType1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DbInfoType.DbInfoType1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DbInfoStatusId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
