@model IEnumerable<E1.LoanCard>

<style type="text/css">
    tfoot {
        display: table-header-group;
    }

    thead {
        display: table-row-group
    }
</style>

@using (Html.BeginForm("Index", "LoanCards", FormMethod.Post, new { id = "loanCardParamsForm" }))
{
    <br />
    <div class="form-group row">
        <div class="col-md-2">
            @Html.TextBox("LoanCardFromDate", null, new { @class = "form-control", @placeholder = "LoanCardFromDate" })
        </div>
        <div class="col-md-2">
            @Html.TextBox("LoanCardToDate", null, new { @class = "form-control", @placeholder = "LoanCardToDate" })
        </div>
        <div class="col-md-2">
            <input type="submit" value="Loan Card" class="form-control btn-success" />
        </div>
        @*<div class="col-md-.5">
                <label onclick="DelLoanandCard()">Del</label>
            </div>*@



    <div class="col-md-3">

        @*<input type="button" id="statusbtnall" value="A (@ViewBag.statusradioallcount)" class="form-control" />*@
        <span id="statusbtnall" class="btn">A (@ViewBag.statusradioallcount)</span>
        @*<input type="button" id="statusbtnpending" value="P (@ViewBag.statusradiopendingcount)" class="form-control" />*@
        <span id="statusbtnpending" class="btn">P (@ViewBag.statusradiopendingcount)</span>

        @*<input type="button" id="statusbtncompleted" value="C (@ViewBag.statusradiocompletedcount)" class="form-control" />*@
        <span id="statusbtncompleted" class="btn">C (@ViewBag.statusradiocompletedcount)</span>
        <a onclick="DelLoanandCard()">D</a>
        <input type="checkbox" id="isActive" checked="checked" name="isAllCollected" />
        @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
    </div>
        <div class="col-md-2">
            @Html.TextBox("OneAccountSearch", null, new { @class = "form-control", @placeholder = "One Account Search" })
            @Html.Hidden("HdnLoanId")
            @Html.Hidden("HdnLoanName")

        </div>
        <div class="col-md-1">
            <input type="submit" value="Find" class="form-control btn-primary" />
            @*<label onclick="DelLoanandCard()">Del</label>*@

        </div>
    </div>

    @*<br />*@
    @*<div class="form-group row">
        <div class="col-md-6">
            <span class="btn">Pending (@ViewBag.PendingCount)</span>
            <span class="btn">FollowUp (@ViewBag.FollowUpCount)</span>
            <span class="btn">Cards (@ViewBag.CardsCount)</span>
            <span class="btn">Enquires (@ViewBag.EnquiresCount)</span>
        </div>
        <div class="col-md-6">
         
        </div>
       
    </div>*@
}

<table id="loanCardsTable" class="table table-bordered" style="width:100%">
    <thead style="background-color:lightgray">
        <tr>
            <th>
                LoanName
            </th>

            <th>
                Openin Bal
            </th>
            <th>
                Impact Bal
            </th>

            <th>
                Closing Bal
            </th>
            <th>
                Cash A/C
            </th>
            <th>
                Profit A/C
            </th>
            <th>Action Details</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
                LoanName
            </th>

            <th>
                Openin Bal
            </th>
            <th>
                Impact Bal
            </th>

            <th>
                Closing Bal
            </th>
            <th>
                Cash A/C
            </th>
            <th>
                Profit A/C
            </th>
            <th>Action Details</th>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LoanCardName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.OpeningBalance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImpactTransValue)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ClosingBalance)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlannedCashAccount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlannedProfitAccount)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.LoanCardId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.LoanCardId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.LoanCardId })
                </td>
            </tr>
        }
    </tbody>
</table>

<div id="delLoanConfirmbox" title="Empty the recycle bin?" style="display:none">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>These items will be permanently deleted and cannot be recovered. Are you sure?</p>
</div>
<style type="text/css">
    tfoot {
        display: table-row-group;
    }
</style>

<script>

    // Initialize the DataTable
    $(document).ready(function () {

        var statusradiovalue = '@ViewBag.statusradio';
        var loanCardFromDate = '@ViewBag.loanCardFromDate';
        var loanCardToDate = '@ViewBag.loanCardToDate';
        if (statusradiovalue == 'pending') {
            pendingstatusbuttonclickpageloadevent();
        } else if (statusradiovalue == 'completed') {
            completedstatusbuttonclickpageloadevent();
        } else {
            allstatusbuttonclickpageloadevent();
        }
        $("#LoanCardFromDate").val(loanCardFromDate);
        $("#LoanCardToDate").val(loanCardToDate);
        $("#LoanCardFromDate").datepicker({
            dateFormat: 'dd-M-yy'
        });

        $("#LoanCardToDate").datepicker({
            dateFormat: 'dd-M-yy'
        });



        $('#loanCardsTable tfoot tr').clone(true).appendTo('#loanCardsTable tfoot');
        $('#loanCardsTable tfoot tr:eq(1) th').each(function (i) {


            $(this).insertAfter($(this).siblings('#loanCardsTable thead'));

            $(this).html('<input type="text" size="5" placeholder="search"/>');

            $('input', this).on('keyup change', function () {
                if (table.column(i).search() !== this.value) {
                    table
                        .column(i)
                        .search(this.value)
                        .draw();
                }
            });
            $('input').each(function () {
                $(this).width($(this).parent().width() - 26);
            });



        });


        //$("#loanCardsTable tfoot tr:first-child").remove();

        var table = $('#loanCardsTable').DataTable({
            dom: 'Blfrtip'
            ,order: [[1, 'desc']]
            , drawCallback: function () {
                var api = this.api();
                var sum = 0;
                var formated = 0;
                for (var i = 1; i <= 5; i++) {
                    sum = api.column(i, { "filter": "applied" }).data().sum();
                    formated = parseFloat(sum).toLocaleString(undefined, { minimumFractionDigits: 0 });
                    $(api.column(i).header()).html('' + formated);
                }
                $('#reportTable thead:eq(0) tr:eq(0) th:eq(0)').html('Total Customers : ' + api.column(3, { "filter": "applied" }).data().count())
            }
            , buttons: [
                {
                    extend: 'excel',
                    title: 'excel',
                    exportOptions: {
                        columns: ':visible'
                    }
                }
                //,
                //{
                //    extend: 'csv',
                //    title: 'csv',
                //    exportOptions: {
                //        columns: ':visible'
                //    }
                //},
                //{
                //    extend: 'pdf',
                //    title: 'pdf',
                //    exportOptions: {
                //        columns: ':visible'
                //    }
                //}
                ,
                {
                    extend: 'print',
                    exportOptions: {
                        columns: ':visible'
                    }
                },
                {
                    extend: 'colvis',
                    exportOptions: {
                        columns: ':visible'
                    }
                }
            ],
            columnDefs: [{
                targets: 6,
                visible: false
            }]
            , "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]

        });





        $('#statusbtnall').click(function () {
            allstatusbuttonclickevent();

        });
        $('#statusbtnpending').click(function () {
            pendingstatusbuttonclickevent();
        });
        $('#statusbtncompleted').click(function () {

            completedstatusbuttonclickevent();
        });



        //Auto complete part
        $("#OneAccountSearch").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/LoanCards/SearchOneAccount",
                    type: "POST",
                    dataType: "json",
                    data: { OneAccountName: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.LoanName, data: item };
                        }))
                    }

                })
            },
            select: function (event, ui) {
                $('#HdnLoanName').val(ui.item.data.LoanName);
                $('#HdnLoanId').val(ui.item.data.LoanId);
            },
            messages: {
                noResults: "", results: ""
            }
        });
    });

    function allstatusbuttonclickevent() {
        $("#statusbtnall").removeClass("btn-default");
        $("#statusbtnall").addClass("btn-info");

        $("#statusbtnpending").removeClass("btn-info");
        $("#statusbtnpending").addClass("btn-default");

        $("#statusbtncompleted").removeClass("btn-info");
        $("#statusbtncompleted").addClass("btn-default");


        var input = $("<input>")
            .attr("type", "hidden")
            .attr("name", "statusradio").val("all");
        $('#loanCardParamsForm').append(input);
        $('#loanCardParamsForm').submit();
    }

    function allstatusbuttonclickpageloadevent() {
        $("#statusbtnall").removeClass("btn-default");
        $("#statusbtnall").addClass("btn-info");

        $("#statusbtnpending").removeClass("btn-info");
        $("#statusbtnpending").addClass("btn-default");

        $("#statusbtncompleted").removeClass("btn-info");
        $("#statusbtncompleted").addClass("btn-default");

    }
    function pendingstatusbuttonclickevent() {
        $("#statusbtnall").removeClass("btn-info");
        $("#statusbtnall").addClass("btn-default");

        $("#statusbtnpending").removeClass("btn-default");
        $("#statusbtnpending").addClass("btn-info");

        $("#statusbtncompleted").removeClass("btn-info");
        $("#statusbtncompleted").addClass("btn-default");

        var input = $("<input>")
            .attr("type", "hidden")
            .attr("name", "statusradio").val("pending");
        $('#loanCardParamsForm').append(input);
        $('#loanCardParamsForm').submit();
    }
    function pendingstatusbuttonclickpageloadevent() {
        $("#statusbtnall").removeClass("btn-info");
        $("#statusbtnall").addClass("btn-default");

        $("#statusbtnpending").removeClass("btn-default");
        $("#statusbtnpending").addClass("btn-info");

        $("#statusbtncompleted").removeClass("btn-info");
        $("#statusbtncompleted").addClass("btn-default");


    }

    function completedstatusbuttonclickpageloadevent() {
        $("#statusbtnall").removeClass("btn-info");
        $("#statusbtnall").addClass("btn-default");

        $("#statusbtnpending").removeClass("btn-info");
        $("#statusbtnpending").addClass("btn-default");

        $("#statusbtncompleted").removeClass("btn-default");
        $("#statusbtncompleted").addClass("btn-info");


    }
    function completedstatusbuttonclickevent() {
        $("#statusbtnall").removeClass("btn-info");
        $("#statusbtnall").addClass("btn-default");

        $("#statusbtnpending").removeClass("btn-info");
        $("#statusbtnpending").addClass("btn-default");

        $("#statusbtncompleted").removeClass("btn-default");
        $("#statusbtncompleted").addClass("btn-info");

        var input = $("<input>")
            .attr("type", "hidden")
            .attr("name", "statusradio").val("completed");
        $('#loanCardParamsForm').append(input);
        $('#loanCardParamsForm').submit();
    }

    function DelLoanandCard() {


        $("#delLoanConfirmbox").dialog({
            resizable: false,
            height: "auto",
            width: 400,
            modal: true,
            buttons: {
                "Delete all items": function () {
                    $.ajax({
                        url: "/LoanCards/DeleteLoanAndItsCard",
                        type: "POST",
                        dataType: "json",
                        data: { LoanId: $('#HdnLoanId').val() },
                        success: function (data) {
                            window.location.href = '/LoanCards/Index/';
                        }

                    })
                    $(this).dialog("close");
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }
        });


    }



    $('#isActive').change(function () {
            
        window.location.href = '/LoanCards/Index?isActive=' + $(this).prop('checked');

        //$.ajax({
        //    url: "/LoanCards/Index",
        //    type: "POST",
        //    dataType: "json",
        //    data: { isActive: $(this).prop('checked') },
        //    success: function (data) {
        //        window.location.href = '/LoanCards/Index?isActive=' + $(this).prop('checked');
        //    }

        //})
            
        });




</script>
